:root {
  --color-primary: #33313b;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  color: var(--color-primary);
  font-size: 12px;
}

/* utility classes */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2.5rem;
}

.mt-4 {
  margin-top: 4rem;
}
